@charset "UTF-8";

html, body {margin: 0; padding: 0;}

#banner {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#elem1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: red;
}

#elem2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: blue;
}